services:
    ktor-app-prod:
        build: .
        ports:
            - "8083:8083"
        environment:
            - DB_HOST=db
            - DB_PORT=5432
            - DB_NAME=log4fit_prod
            - DB_USER=postgres
            - DB_PASSWORD=password
            - SECRET_KEY=secret
        depends_on:
            - db
        volumes:
            - ./.env:/app/.env

    db:
        image: postgres:15-alpine
        environment:
            - POSTGRES_DB=log4fit_prod
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=password
        ports:
            - "5433:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    pgadmin:
        image: dpage/pgadmin4
        environment:
            - PGADMIN_DEFAULT_EMAIL=admin@example.com
            - PGADMIN_DEFAULT_PASSWORD=admin
        ports:
            - "5051:80"
        depends_on:
            - db
        volumes:
            - pgadmin_data:/var/lib/pgadmin

    redis:
        image: redis:7-alpine
        ports:
            - "6379:6379"

    loki:
        image: grafana/loki:2.9.0
        ports:
            - "3100:3100"

    promtail:
        image: grafana/promtail:2.9.0
        volumes:
            - /var/lib/docker/containers:/var/lib/docker/containers:ro
            - ./promtail-config.yml:/etc/promtail/config.yml
        command: -config.file=/etc/promtail/config.yml

    grafana:
        image: grafana/grafana:latest
        ports:
            - "3001:3001"

volumes:
    postgres_data:
    pgadmin_data:
